$charcoal: #3e4e56;

#businessInfo {
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-bottom: 36px;
}
#businessText {
  display:flex;
  flex-direction:column;
  align-items:center;
}
#businessDescription {
  display:flex;
  flex-direction:row;
  justify-content:space-around;
}
#contactInfo {
  display:flex;
  flex-direction:column;
  border-right: 2px solid $charcoal;
  margin-right: 30px;
  padding-right: 24px;
  font-style: italic;
}
#gallery {
  display:flex;
  flex-direction:column;
  align-items:center;
  padding: 20px;
}
#galleryImageArea {
  display: flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}
#galleryButtonLeft, #galleryButtonRight {
  width:75px;
  height:75px;
}
#galleryImage {
  width: 450px;
  height: 300px;
  background-size: cover;
  margin: 0 20px 0 20px;
}