#completionPage {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  height:100vh;
}
#completionTitle {
  font-size: 36px;
  margin-bottom: 30px;
}
#thankYou {
  font-size: 20px;
  margin-bottom: 20px;
}