$yellow: #E6D648;

.reactLink {
  color: black;
}
#homePage {
  display:flex;
  flex-direction:column;
  width: 100vw;
}
#homePageTop {
  height: 600px;
  display: flex;
  align-items: center;
  .container {
    h2 {
      font-size: 3rem;
      line-height: 3.7rem;
      padding-bottom: 24px;
    }
    p {
      font-size: 1.2rem;
    }
    @media screen and (min-width: 900px) {
      h2, p {
        max-width: 75%;
      }
    }
  }
}

#homePageMiddle {
  min-height: 600px;
  background: $yellow;
  display: flex;
  .container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    > * {
      flex: 1;
    }
  }
}
.homePageInfoCard {
  margin: 0 12px;
  padding: 32px 0;
  min-width: 262px;
  height: 515px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .2s ease-in-out; 
  &:hover { 
  transform: scale(1.05); 
  }
}

.imageArea {
  height: 50%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e7e7e7;
  border-radius: 10px 10px 0 0;
  border-bottom: 12px solid $yellow;
}
.homePageIcon {
  height: 150px;
}
.infoCardTextArea {
  background: #ffffff;
  padding: 18px 24px;
  height: 50%;  
  border-radius: 0 0 10px 10px;
  p {
    font-size: 15px;
  }
}
.infoCardTitle {
  padding-bottom: 12px;
}

#homePageBottom {
  width: 100vw;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#homePageFeatured {
  width: 1080px;
  display:flex;
  flex-direction:column;
}
#featuredResults {
  display:flex;
  flex-flow: row wrap;
}
.featuredBusinessCard {
  width: 250px;
  height: 300px;
  // border: 1px solid black;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.featuredBusinessImage {
  height: 150px;
  width: 250px;
  background-size: cover;
  border: 1px solid black;
  border-radius: 3px;
}
.featuredBusinessInfo {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height:50%;
}
.featuredBusinessDescription {
  width: 225px;
}
.featuredStatus {
  width: 100%;
}
.featuredStatusBar {
  height: 15px;
  background: rgb(220, 220, 220);
  border-radius: 10px;
}
.featuredStatusBarProgress {
  height: 100%;
  background: rgb(169, 75, 53);
    border-radius: 10px;
}