$charcoal: #3e4e56;
$platinum: #e7e7e7;
$yellow: #E6D648;

.navbar-item, .navbar-item:hover {
  h1 {
    font-weight: 700;
    color: #ffffff;
    font-size: 2.5rem;
    transition: color 0.2s;
    &:hover {
      color: $yellow;
    }
  }
}
.logout {
  color: #ffffff;
  cursor: pointer;
}
.navbar-item:hover, .navbar-link:hover, .navbar-item.has-dropdown:hover .navbar-link, a.navbar-item:focus-within {
  background: $charcoal !important;
}
.navbar-dropdown a.navbar-item:hover, .navbar-dropdown a.navbar-item:focus {
  background: $platinum !important;
}

.navbar-dropdown {
  border-top: none;
  left: -20px !important;
}

.navbar-link {
  color: #ffffff !important;
}