#searchFormArea {
  h3 {
    padding-bottom: 8px;
  }
  form {
    max-width: unset;
  }
  .control {
    width: 300px;
  }
  #searchForm {
    display:flex;
    flex-direction:row;
    .select, .field {
      margin-right: 12px;
    }
  }
}
#searchPageResults {
  padding-top: 24px;
}

#searchPageHeader {
  margin-bottom: 24px;
}