$charcoal: #3e4e56;
$platinum: #e7e7e7;
$dark-grey: #050505;
$yellow: #E6D648;


.page {
  padding-top: 76px
}

.container {
  @media screen and (max-width: 1023px) {
    margin: 0 24px;
  }
}

.section {
  padding: 24px 0;
}

.text-primary {
  color: $charcoal !important;
}

.background-primary {
  background: $charcoal !important;
}

.is-warning {
  background-color: $yellow !important;
}

form {
  max-width: 500px;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.4rem;
}

h2, h3, strong {
  color: $dark-grey !important;
}

form {
  h2 {
    padding-bottom: 8px;
  }
  p {
    padding-bottom: 24px;
  }
}

button {
  border-radius: 100px !important;
}

.field {
   .label { 
     font-weight: 400;
   }
 }
