$charcoal: #3e4e56;
$platinum: #e7e7e7;
$yellow: #E6D648;


#updateSection {
  display:flex;
  flex-direction:column;
  align-items:center;
  background: $yellow;
  margin: 36px 0;
}
.update {
  // width: 50%;
  margin-bottom: 30px;
}
